body, html {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #252933;
  color: white;
  width: 700px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

#links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.77rem;
  color: white;
  flex-shrink: 0;
  flex-grow: 0;
}

.link {
  text-decoration: underline;
}

#filter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

#filter {
  background-color: #99A7D6;
  border-width: 0;
  font-size: 1rem;
  padding: 0.25rem;
  color: black;
  flex-grow: 1;
  outline: 1px solid blue;
}

#filter_clear {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid grey;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  font-size: 0.7rem;
  padding: 0.15rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 0.5rem;
  height: 100%;
  margin-top: 0.77rem;
}

.button {
  font-size: 1rem;
  min-width: 2rem;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid grey;
  border-spacing: 0.5rem;
  border-radius: 25px;
  align-items: center;
}

.item_text {
  overflow-wrap: break-word;
	word-break: break-word;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.item_icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  min-height: 100%;
}

.favorite .item_icon {
  outline: 1px solid yellow;
  border-radius: 50%;
}

.selected {
  border-color: white;
  background-color: #2B303B;
}

.hidden {
  display: none;
}

.highlighted {
  background-color: #99EDC3;
}

.action, .actionbox {
  cursor: pointer;
  transition: text-shadow 100ms, box-shadow 100ms;
}

.action:hover {
  text-shadow: 0 0 1rem currentColor;
}

.actionbox:hover {
	box-shadow: 0 0 0.3rem currentColor;
}